<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="m-4" >
<div class="card row mt-4" style="background-color: #191414;">
  <div class="col-md-auto p-3">
    <h3 class="m-3 text-light">Post A New Song</h3>

    <form class="form new-song-form">
      <div class="form-group m-2">
        <div class="m-6">
        <label for="song-title" class="text-light">Song Title:</label>
        </div>
        <div>
        <input class="form-input" type="text" id="song-title" name="song-title" />
        </div>
      </div>
      <div class="form-group m-2">
        <div>
        <label for="song-artist" class="text-light">Artist:</label>
        </div>
        <div>
        <input class="form-input" type="text" id="song-artist" name="song-artist" />
        </div>
      </div>
      <div class="form-group m-2">
        <div>
        <label for="song-genre" class="text-light">Genre:</label>
        </div>
        <div>
        <input class="form-input" type="text" id="song-genre" name="song-genre"></input>
        </div>
        {{!-- <textarea class="form-input col-6" type="text" id="song-genre" name="song-genre"></textarea> --}}
      </div>
      <div class="form-group mt-4 align-right">
        <button class="btn btn-outline-success" type="submit">Post</button>        
      </div>
    </form>
  </div>
</div>

<div class="mt-5">
<div class="card" style="background-color: #191414;">
  {{#if songs.length}}
  <div class="col-md-6 m-3 song-list">
    <h3 class="m-3 text-light">Your Songs:</h3>

    {{#each songs as |song|}}
    <div class="card col-md-16 m-4 p-3" style="background-color: #1db954; border-radius: 3px;">
    
      <div>
        <h4 class="text-light"><a>{{song.title}}</a></h4>
        <h6 class="text-light">Artist: <a>{{song.artist}}</a></h6>
      </div>
      {{!-- <textarea class="form-input col-6" type="text"></textarea> --}}
      
      <div class="col-md-4 mt-2">
        <button class="btn btn-sm btn-danger" data-id="{{song.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>
</div>

<script src="./js/profile.js"></script>
