<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Post A New Song!!!</h3>

    <form class="form new-song-form">
      <div class="form-group">
        <label for="song-title">Song Title:</label>
        <input class="form-input" type="text" id="song-title" name="song-title" />
      </div>
      <div class="form-group">
        <label for="song-funding">Artist:</label>
        <input class="form-input" type="number" id="song-artist" name="song-artist" />
      </div>
      <div class="form-group">
        <label for="song-genre">Genre:</label>
        <textarea class="form-input" id="song-genre" name="song-genre"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  {{#if songs.length}}
  <div class="col-md-6 song-list">
    <h3>Your Songs:</h3>

    {{#each songs as |song|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/song/{{song.id}}">{{song.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{song.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
